*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    background-color: #242936;
}

header,
footer {
    padding: 1rem;
}

header p {
    margin-top: 1rem;
}

main {
    max-width: 576px;
    margin: 0 auto;
    padding: 1rem;
}

#board {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#reset {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-decoration: underline
}

.tile {
    width: 100%;
    aspect-ratio: 1;
}